extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="/users") users

  div
    a(href="/bookings") bookings

  div
    a(href="/properties") properties

  div
    a(href="/subscriptions") subscriptions

  div
    p Tasks

  div
    a(href="/users/@acme.com") /:emaildomain
    p 1.2. All users from a particular company (a user of a company is a user that has the same email domain.
    p E.g for john@getproperly.com and company@getproperly.com "getproperly.com" is the email domain)
    

  div
    a(href="/properties/properties6") /properties/properties6
    p 1.3. All users from Free tier subscription which have more than 6 properties

  div
    a(href="/properties/properties4") /properties/properties4
    p 1.4. All users from Premium tier subscription which have less than 4 properties


  div
    a(href="/2018-02-24&2018-03-18") /:startdate&:enddate
    p 2.1. All bookings for a **given period** (start and end dates).
    p I've used 2018-02-24&2018-03-18 as an example but can be changed

  div
    a(href="/bookings/bookings25") bookings/bookings25
    p  2.2. All bookings longer or equal to 25 days.

  div
    a(href="/bookings/bookings3") bookings/bookings3
    p 2.3. All bookings shorter or equal to 3 days.

  div
    a(href="/properties/propertiesbookings1") properties/propertiesbookings1
    p 2.4. All Properties with Bookings with 1 day or less between bookings




